<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
<div class="container mt-5">
	<a th:href="@{/addProductFE}" class="btn btn-primary">Add Product</a>
	
	<form method="get" action="/searchProductsFE" id="searchForm" class="row mb-4">
        <div id="search-bar" class="col-md-4">
            <input type="text" name="title" class="form-control" placeholder="Search by title" th:value="${param.title}" />
            <input type="submit" value="search" class="btn btn-secondary">
        </div>
    </form>
    
    <form method="get" action="/filterProductsFE" id="filterForm" class="row mb-4">
        <div id="searchbar" class="col-md-4">
            <input type="text" name="category" class="form-control" placeholder="Filter by Category" th:value="${param.category}" />
            <input type="submit" value="search" class="btn btn-secondary">
        </div>
    </form>
       
	
    <h2 class="mb-4">List of Products</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Product Title</th>
            <th>Product Description</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${products}">
            <td th:text="${prod.productTitle}"></td>
            <td th:text="${prod.productDescription}"></td>
            <td th:text="${prod.productCategory}"></td>
            <td th:text="${prod.productPrice}"></td>
            <td><a th:href="@{'/updateProductFE/' + ${prod.productId}}" class="btn  btn-sm"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M482-120q-75 0-140.83-28.5-65.84-28.5-115-77.33Q177-274.67 148.5-340.5T120-481.33q0-75 28.5-140.17 28.5-65.17 77.67-113.67 49.16-48.5 115-76.66Q407-840 482-840q80.67 0 152.83 35 72.17 35 123.84 97v-102h66.66v218.67H606V-658h106.67q-43-52.67-102.67-84t-128-31.33q-122.33 0-208.83 84.16-86.5 84.17-86.5 205.84 0 123.66 85.83 210.16t209.5 86.5q118.33 0 201.83-81.33 83.5-81.33 88.17-199.33h67.33q-5 145.66-108.5 246.5Q627.33-120 482-120Zm118.67-195.33-153.34-152V-682H514v187.33l134 132-47.33 47.34Z"/></svg></a></td>
            <td><a th:href="@{'/deleteProductFE/' + ${prod.productId}}" class="btn  btn-sm" onclick="return confirm('Are you sure you want to delete this product?');"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M267.33-120q-27.5 0-47.08-19.58-19.58-19.59-19.58-47.09V-740H160v-66.67h192V-840h256v33.33h192V-740h-40.67v553.33q0 27-19.83 46.84Q719.67-120 692.67-120H267.33Zm425.34-620H267.33v553.33h425.34V-740Zm-328 469.33h66.66v-386h-66.66v386Zm164 0h66.66v-386h-66.66v386ZM267.33-740v553.33V-740Z"/></svg></a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>